<div>
  <h3>Filter heroes by </h3>
  <mat-form-field class="new-post-short-field">
    <input matInput placeholder="Name" [(ngModel)]="name">
  </mat-form-field>

  <mat-form-field class="new-post-short-field">
    <mat-select [(ngModel)]="selectedRole" placeholder="Role">
      <mat-option *ngFor="let role of roles" [value]="role">
        {{ role }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="new-post-short-field">
    <input matInput placeholder="Hp" [(ngModel)]="hp">
  </mat-form-field>

  <div class="heros-table-container mat-elevation-z8">
    <table id="heros-table">
      <thead>
        <th>Name</th>
        <th>Role</th>
        <th>Attack Style</th>
        <th>Hp</th>
      </thead>
      <tbody>
        <tr *ngFor="let hero of heros | heroNameFilter:name | heroHpFilter:hp | heroRoleFilter:selectedRole">
            <td>{{hero.name}}</td>
            <td>{{hero.role}}</td>
            <td>{{hero.attackStyle}}</td>
            <td>{{hero.hp}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
