<header>
  <h1>
    {{title}}
  </h1>
  <aside>
    <app-weather></app-weather>
  </aside>
  <aside class="app-fb-login">
    <div class="fb-login-button" data-max-rows="1" data-size="small" data-button-type="continue_with" data-show-faces="true"
      data-auto-logout-link="true" data-use-continue-as="true"></div>
  </aside>
  <nav>
    <a routerLink="/">Home</a>
    <a routerLink="link2">Heroes</a>
    <a routerLink="link3">About</a>
    <a routerLink="/posts">Posts</a>
    <a routerLink="/group">Group</a>
  </nav>
</header>

<router-outlet></router-outlet>

<footer>Developed by Overwatch players for Overwatch players</footer>