<div class="posts-container">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Add a New Post:
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="new-post">
      <div class="new-post-group">
        <mat-form-field class="new-post-short-field">
          <input matInput placeholder="Title" #title>
        </mat-form-field>

        <mat-form-field class="new-post-short-field">
          <input matInput placeholder="Author" #authorName>
        </mat-form-field>

        <mat-form-field class="new-post-short-field">
          <mat-select [(ngModel)]="selectedHero" placeholder="Hero">
            <mat-option *ngFor="let hero of heros" [value]="hero.id">
              {{ hero.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="new-post-group">
        <mat-form-field class="example-full-width">
          <textarea matInput placeholder="Content" rows="2" #content></textarea>
        </mat-form-field>
      </div>
      <button mat-button id="add-post-btn" (click)="addPost(content.value, title.value, authorName.value); content.value=''; title.value=''; authorName.value='';">Add</button>
    </div>
  </mat-expansion-panel>
  <br />

  <h3>Filter posts by </h3>
  <mat-form-field class="new-post-short-field">
    <mat-select [(ngModel)]="selectedRoleFilter" placeholder="Role">
      <mat-option *ngFor="let role of roles" [value]="role">
        {{ role }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="new-post-short-field">
    <input matInput placeholder="Author Name" #authorNameFilter>
  </mat-form-field>

  <mat-form-field class="new-post-short-field">
    <mat-select [(ngModel)]="selectedHeroFilter" placeholder="Hero">
      <mat-option *ngFor="let hero of heros" [value]="hero.id">
        {{ hero.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-button (click)="searchPosts(authorNameFilter.value); authorNameFilter.value='';">Search</button>

  <h2>Posts</h2>
  <div class="posts">
    <mat-card *ngFor="let post of posts; let i = index" [attr.data-index]="i">
      <mat-card-title>
        <b>{{post.title}}</b>
      </mat-card-title>
      <mat-card-subtitle>
        <span> Date:
          <b>{{post.date | date:"short"}}</b>
        </span>
      </mat-card-subtitle>
      <mat-card-content>
        <span *ngIf="!isEditing;">
          <b>{{post.content}}</b>
        </span>
        <span *ngIf="currentEditIndex==i">
          <textarea rows="4" cols="50" [(ngModel)]="post.content"></textarea>
        </span>
        <span>
          <b>{{post.authorName}},{{post.heroId}}</b>
        </span>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="onEditToggle(i)">{{isEditing ? 'Save' : 'Edit'}}</button>
        <button mat-button (click)="onPostRemove(post._id)">Remove</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
