@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* Application-wide Styles */
h1 {
  color: #369;
  font-family: MuktaMalar;
  font-size: 250%;
}
h2,
h3 {
  color: #444;
  font-family: MuktaMalar;
  font-weight: lighter;
}
body {
  margin: 2em;
  background-color: #7b8ea5;
  color: #102031;
}
body,
input[text],
button {
  font-family: MuktaMalar;
}
/* everywhere else */
* {
  font-family: MuktaMalar;
}

@font-face {
  font-family: "MuktaMalar";
  src: url("./assets/fonts/MuktaMalar-Regular.ttf");
}
